vti_encoding:SR|utf8-nl
vti_author:SR|SLIVER\\x_Sliver
vti_modifiedby:SR|SLIVER\\x_Sliver
vti_timelastmodified:TR|10 Mar 2006 07:28:58 -0000
vti_timecreated:TR|20 Feb 2006 08:07:49 -0000
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|10 Mar 2006 07:28:10 -0000
vti_cacheddtm:TX|10 Mar 2006 07:28:58 -0000
vti_filesize:IR|8007
vti_cachedlinkinfo:VX|S|default/bg_banner.gif S|../images/vcss.gif S|default/bg_menu.gif S|default/menu_item.gif S|default/menu_item_hover.gif S|default/menu_title.gif S|default/logon_bg.gif S|default/bg_logon.gif S|default/tab_line.gif S|default/tab_normal.gif S|default/bg_logon.gif S|default/button_normal.gif
vti_cachedsvcrellinks:VX|FSUS|style/default/bg_banner.gif FSUS|images/vcss.gif NSUS|style/default/bg_menu.gif FSUS|style/default/menu_item.gif FSUS|style/default/menu_item_hover.gif FSUS|style/default/menu_title.gif FSUS|style/default/logon_bg.gif FSUS|style/default/bg_logon.gif FSUS|style/default/tab_line.gif FSUS|style/default/tab_normal.gif FSUS|style/default/bg_logon.gif FSUS|style/default/button_normal.gif
